<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{url_for('static',filename='images/moviefindericon.svg')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='js/dropzone-5.7.0/dist/dropzone.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

    <title>Movie Finder</title>
</head>

<body>

    <div class="mb-50 ">

    </div>

    <div class="container-fluid sticky-top shadow mb-2 bg-white rounded" style="background-color:white; opacity:0.9">
        <div class="row align-items-end">
            <div class="col-2 d-flex p-2 justify-content-end">
                <img src="{{url_for('static',filename='images/moviefindericon.svg')}}" alt="">
            </div>

            <div class="col-1 d-flex p-2 justify-content-end">
                <a href="{{url_for('show_landing_page')}}"> <img
                        src="{{url_for('static',filename='images/moviehome.svg')}}" alt=""></a>
                </a>
            </div>

            <div class="col-8 d-flex justify-content-center">
                <form method="GET" enctype="multipart/form-data" class="w-100">

                    <div class="input-group p-2">
                        <input name="result" type="text" class="form-control headerfont"
                            placeholder="Search for a movie title, main cast or director name..."
                            style="border-color:#083864fe;">
                        <div class="input-group-append">
                            <button id="search-btn" type="submit" class="btn">
                                <img src="{{url_for('static',filename='images/search.svg')}}" alt="">
                            </button>
                        </div>
                    </div>
                </form>

            </div>


            <div class="col-1 d-flex p-2 justify-content-start">
                <a id="add-btn" href="#AddMovieBackdrop" role="button" data-toggle="modal">
                    <img src="{{url_for('static',filename='images/addmovies.svg')}}" alt=""></a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="dropdown px-2 pb-2">
                <button class="bg-transparent border-0 dropdown-toggle headerfont" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Genre
                </button>
                <div class="dropdown-menu " style="min-width:0em" aria-labelledby="dropdownMenuButton">
                    {% for genre in all_genre %}
                    <a class="dropdown-item headerfont"
                        href="{{url_for('show_movieinfolist_bygenre',genre=genre.genre)}}">{{genre.genre.capitalize()}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown px-2 pb-2">
                <button class="bg-transparent border-0 dropdown-toggle headerfont" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Year
                </button>
                <div class="dropdown-menu" style="min-width:0em" aria-labelledby="dropdownMenuButton">
                    {% set years =[] %}
                    {% for movie in all_movies %}
                    {% if years.append(movie.year|int) is none %}
                    {{''}}
                    {% endif %}
                    {% endfor %}
                    {% set years_sorted = years|unique|sort %}
                    {% for year in years_sorted %}
                    <a class="dropdown-item text-wrap headerfont"
                        href="{{url_for('show_movieinfolist_byyear',year=year)}}">{{year}} </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="AddMovieBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="AddMovieBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header " style="border-color:#083864fe;">
                    <h2 class="modal-title headerfont" id="AddMovieBackdropLabel">Add New Movie Info</h2>
                    <button class="my-auto" type="button" data-dismiss="modal" aria-label="Close" style="border-width:0px; 
                    background-color:transparent;">
                        <img src="{{url_for('static',filename='images/cancel.svg')}}" alt="">

                    </button>
                </div>
                <!-- <form method="POST" enctype="multipart/form-data" action="{{ url_for('process_landing_page') }}"
                    class="dropzone"> -->
                <form id='add-form' method="POST" enctype="multipart/form-data"
                    action="{{url_for('process_landing_page')}}">
                    <div class="container modal-body my-auto">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="movie-title" class="col-form-label headerfont ">Title: <span
                                            style="font-family:Arial, Helvetica, sans-serif; color: tomato;">{{
                                            errors.title_is_blank
                                            }}</span>
                                    </label>
                                    <input type="text"
                                        value="{% if errors.title_is_blank %}{{old_values.name}} {% endif %}" class=" form-control {%if
                                        errors.title_is_blank %} is-invalid{%endif%}" id="movie-name" name="name"
                                        style="border-color:#083864fe;" required>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label headerfont">

                                        Genre: <span style="font-family:Arial, Helvetica, sans-serif; color:tomato;">{{
                                            errors.genre_is_blank }}
                                        </span>
                                    </label>
                                    <input type="text"
                                        value="{% if errors.genre_is_blank %}{{old_values.genre}}{% endif %}" class="form-control  {%if
                                        errors.genre_is_blank %} is-invalid{%endif%}" id="movie-genre" name="genre"
                                        style="border-color:#083864fe;" required>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label headerfont">Year: <span
                                            style="font-family:Arial, Helvetica, sans-serif; color:tomato;">{{
                                            errors.year_is_blank or
                                            errors.year_is_less_than_0 or errors.year_is_string}}</span>
                                    </label>
                                    <input
                                        value="{%if errors.year_is_blank
                                        or errors.year_is_less_than_0 or errors.year_is_string %}{{old_values.year}} {% endif %}"
                                        class=" form-control {%if errors.year_is_blank
                                        or errors.year_is_less_than_0 or errors.year_is_string %} is-invalid{%endif%}"
                                        id="movie-year" name="year" style="border-color:#083864fe;" required>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label headerfont">Main Casts: <span
                                            style="font-family:Arial, Helvetica, sans-serif; color:tomato;">{{
                                            errors.maincasts_is_blank }}</span>
                                    </label>
                                    <input type="text" value="{%if
                                        errors.maincasts_is_blank %}{{old_values.maincasts}}{%endif%}" class="form-control  {%if
                                        errors.maincasts_is_blank %} is-invalid {%endif%}" id="movie-casts"
                                        name="maincasts" style="border-color:#083864fe;" required>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label headerfont">Directed by: <span
                                            style="font-family:Arial, Helvetica, sans-serif; color:tomato;"> {{
                                            errors.directors_is_blank}}</span>
                                    </label>
                                    <input type="text" value="{%if
                                        errors.directors_is_blank %} {{old_values.directors}} {%endif%}" class="form-control  {%if
                                        errors.directors_is_blank %} is-invalid {%endif%}" id="movie-director"
                                        name="directors" style="border-color:#083864fe;" required>
                                </div>
                                {%if errors|length > 0 %}
                                <div class="alert alert-danger">
                                    Please correct all the errors and resubmit the form.
                                </div>
                                {% endif %}
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label headerfont">Trailer(url): <span
                                            style="font-family:Arial, Helvetica, sans-serif; color:tomato;">{{
                                            errors.youtubeurl_is_blank}}</span>
                                    </label>
                                    <input type="text" value=" {%if
                                        errors.youtubeurl_is_blank %} {{old_values.youtubeurl}} {%endif%}" class="form-control  {%if
                                        errors.youtubeurl_is_blank %} is-invalid {%endif%}" id="movie-trialer"
                                        name="youtubeurl" style="border-color:#083864fe;" required>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label headerfont">Synopsis: <span
                                            style="font-family:Arial, Helvetica, sans-serif; color:tomato;">{{
                                            errors.synopsis_is_blank}}</span>
                                    </label>
                                    <textarea type="text" class="form-control {%if
                                        errors.synopsis_is_blank %} is-invalid{%endif%} "
                                        style="height: 10rem; border-color:#083864fe;" id="movie-synop" name="synopsis"
                                        required>{%if
                                            errors.synopsis_is_blank %} {{old_values.synopsis}} {%endif%}</textarea>
                                </div>
                                <div> <label for="poster" class="col-form-label headerfont">Poster: <span
                                            style="font-family:Arial, Helvetica, sans-serif; color:tomato;">{{
                                            errors.file_is_blank
                                            }}</span>
                                    </label>
                                </div>
                                <div> <input type="file" name="file" class=" {%if
                                    errors.file_is_blank %} is-invalid{%endif%}" style="border-color:#083864fe;"
                                        required>
                                </div>
                                <div> <label for="backdrop" class="col-form-label headerfont">Backdrop: <span
                                            style="font-family:Arial, Helvetica, sans-serif; color:tomato;">{{
                                            errors.backdrop_is_blank}}</span>
                                    </label>
                                </div>
                                <div> <input type="file" name="backdrop" class=" {%if
                                    errors.backdrop_is_blank %} is-invalid{%endif%}" style="border-color:#083864fe;"
                                        required>
                                </div>

                                <div> <label for="thumbnails" class="col-form-label headerfont">Thumbnails: <span
                                            style="font-family:Arial, Helvetica, sans-serif; color:tomato;">{{
                                            errors.thumbnails_is_blank}}</span>
                                    </label>
                                </div>
                                <div> <input type="file" name="thumbnails" class=" {%if
                                    errors.thumbnails_is_blank %} is-invalid{%endif%}" multiple
                                        style="border-color:#083864fe;" required>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="border-color:#083864fe;">
                        <button id="add-upload-btn" class="mx-auto my-auto" type="submit" style="border-width:0px; 
                        background-color:transparent;">
                            <img src="{{url_for('static',filename='images/uploadmovie.svg')}}" alt="">
                        </button>
                    </div>
                    <div class="progress">
                        <div id="addprogressBar" class="progress-bar" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                        </div>
                    </div>
                    <div id="form-response"></div>
                </form>

            </div>
        </div>
    </div>

    {% block content %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="static/js/update_upload.js"></script>
    <script src="{{url_for('static',filename='js/update_upload.js')}}"></script>
    <script src="{{url_for('static',filename='js/create_upload.js')}}"></script>

    <script>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        toastr.info("{{message}}");
        {% endfor %}
        {% endif %}
        {% endwith %}

    </script>
</body>

</html>