{% extends "base.template.html" %}

{% block content %}

<div>
    {% for genre in all_genre %}
    {% for movie in all_movies %}
    {% if genre.genre == movie.genre %}
    <div style="background-color: lightgrey;">
        <div class="container w-50">
            <h3>{{genre.genre.capitalize()}}</h3>
            <div class="row">
                <div class="col-3">
                    <img src="{{movie.imageurl}}" alt="" class="img-thumbnail">
                    <label for="">{{movie.name}}</label>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="bg-light">
        <div class="container w-50">
            <h3>{{genre.genre.capitalize()}}</h3>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <!-- <div class="bg-secondary">
        <h3>Horrors</h3>

    </div>

    <div class="bg-light">
        <h3>Fantasy</h3>

    </div>

    <div class="bg-secondary">
        <h3>Love</h3>

    </div> -->
</div>

{% endblock %}