{% extends "base.template.html" %}

{% block content %}

    {% for movie in all_movies%}
    {{genre|pprint}}
    {{movie.genre|pprint}}

        {% if movie.genre == genre %}
            found the right genre!
                    <div class="container w-50 py-5 bg-light">
                        <a href="{{url_for('show_movieinfo_page',movie_id=movie._id)}}">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <img src="{{movie.imageurl}}" class="card-img my-auto" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">{{movie.name}}</h5>
                                            <p class="card-text">Genre: {{movie.genre.capitalize()}}</p>
                                            <p class="card-text">Directed by:
                                                {% if movie.directors|length> 0 %}
                                                {{', '.join(movie.directors)}}
                                                {% else %}
                                                {{movie.directors[0]}}
                                                {% endif %}
                                            </p>
                                            <p class="card-text">Release on: {{movie.year}}</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
        {% elif movie.year == year %}
        found the right year!

                    <div class="container w-50 py-5 bg-light">
                        <a href="{{url_for('show_movieinfo_page',movie_id=movie._id)}}">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <img src="{{movie.imageurl}}" class="card-img my-auto" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">{{movie.name}}</h5>
                                            <p class="card-text">Genre: {{movie.genre.capitalize()}}</p>
                                            <p class="card-text">Directed by:
                                                {% if movie.directors|length> 0 %}
                                                {{', '.join(movie.directors)}}
                                                {% else %}
                                                {{movie.directors[0]}}
                                                {% endif %}
                                            </p>
                                            <p class="card-text">Release on: {{movie.year}}</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
        
        {% elif result is not none() and result is defined() %}
        {{result|pprint}}

        found the result!

                            <div class="container w-50 py-5 bg-light">
                                <a href="{{url_for('show_movieinfo_page',movie_id=movie._id)}}">
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-6">
                                                <img src="{{movie.imageurl}}" class="card-img my-auto" alt="...">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{movie.name}}</h5>
                                                    <p class="card-text">Genre: {{movie.genre.capitalize()}}</p>
                                                    <p class="card-text">Directed by:
                                                        {% if movie.directors|length> 0 %}
                                                        {{', '.join(movie.directors)}}
                                                        {% else %}
                                                        {{movie.directors[0]}}
                                                        {% endif %}
                                                    </p>
                                                    <p class="card-text">Release on: {{movie.year}}</p>
                                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
           
        {% else %}
        {{result|pprint}}

        found else!
                    <div class="container w-50 py-5 bg-light">
                        <a href="{{url_for('show_movieinfo_page',movie_id=movie._id)}}">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <img src="{{movie.imageurl}}" class="card-img my-auto" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">{{movie.name}}</h5>
                                            <p class="card-text">Genre: {{movie.genre.capitalize()}}</p>
                                            <p class="card-text">Directed by:
                                                {% if movie.directors|length> 0 %}
                                                {{', '.join(movie.directors)}}
                                                {% else %}
                                                {{movie.directors[0]}}
                                                {% endif %}
                                            </p>
                                            <p class="card-text">Release on: {{movie.year}}</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
        {% endif %}

    {% endfor%}

{% endblock %}